{#
It is assumed that last 4 digits of VNI are VLAN ID:
21 -> 0021
Example JSON values:
{
  "template": "L1VNI",
  "data": [
  {
      "asn": 65510,
      "l1vni": 550021,
      "int_id": 12,
      "lag_id": 200,
      "mlag_id": 2000
  }
-#}
{% set vlan_id = ((l1vni|string)[-4:])|int % 10000  -%}
no spanning-tree vlan {{ vlan_id }}
vlan {{ vlan_id }}
  vn-segment {{ l1vni }}
  xconnect
interface nve1
  member vni {{ l1vni }}
    ingress-replication protocol bgp
evpn
  vni {{ l1vni }} l2
    rd {{ asn|default('ASN') }}:{{ l1vni }}
    route-target import {{ asn|default('ASN') }}:{{ l1vni }}
    route-target export {{ asn|default('ASN') }}:{{ l1vni }}

{% if (int_id is defined) and (lag_id is defined) and (mlag_id is defined) -%}
interface ethernet1/17
  channel-group {{ lag_id }} mode on

interface port-channel{{ lag_id }}
  switchport
  switchport mode dot1q-tunnel
  switchport access vlan {{ vlan_id }}
  no negotiate auto
  vpc {{ mlag_id }}
{% else %}
! To generate
! interface ethernet1/XX
!   channel-group [port-channel] mode on

! interface port-channel[port-channel]
!   switchport
!   switchport mode dot1q-tunnel
!   switchport access vlan [vlan-id]
!   no negotiate auto
!   vpc [vpc-id]
{% endif %}