{#
Example JSON values:
{   
    "template": "L3INT",
    "data": [
        {
            "l3int" : 3100,
            "vrf": "vrf_name",
            "mtu": 9100,
            "anycast_gw": True|False,
            "ipv4_address": "10.0.0.1/31"
        },
        {...}
    ]
}
-#}

vlan {{ l3int }}

interface Vlan{{ l3int }}
  description VRF_{{ vrf }}
{% if shutdown is defined and shutdown %}
  shutdown
{% else %}
  no shutdown
{% endif %}
  mtu {{ mtu|default('9000')}}
  vrf member {{ vrf }}
  no ip redirects
  ip address {{ ipv4_address }}
  no ipv6 redirects
{% if anycast_gw %}
  fabric forwarding mode anycast-gateway
{% endif %}

