#jinja2: lstrip_blocks: True

modify sys global-settings hostname {{ hostname }}

# Management configuration
{% if mgmt_dhcp is defined and mgmt_dhcp %}
modify sys global-settings mgmt-dhcp dhcpv4
{% else %}
modify sys global-settings mgmt-dhcp disabled
{% endif %}
create sys management-ip {{ mgmt_prefix }}
create sys management-route default gateway {{ mgmt_gw }}
{% if mgmt_routes is defined %}
{% set prefix = name_prefix + 'mgmt_route_' %}
  {% for rt in mgmt_routes %}
create sys management-route {{ prefix }}{{ rt.name }} network {{ rt.prefix }} gateway {{ rt.gw }}
    {% if rt.description is defined %}
modify sys management-route {{ prefix }}{{ rt.name }} description "{{ rt.description }}"
    {% endif %}
  {% endfor %}
{% endif %}


# DNS configuration
{% if dns.servers is defined %}
modify sys dns name-servers none
  {% for ns in dns.servers %}
modify sys dns name-servers add { {{ ns }} }
  {% endfor %}
{% endif %}

# NTP configuration
{% if ntp is defined %}
  {% if ntp.timezone is defined %}
modify sys ntp timezone {{ ntp.timezone }}
  {% endif %}
  {% if ntp.servers is defined %}
    {% for server in ntp.servers %}
modify sys ntp servers add { {{ server }} }
    {% endfor %}
  {% endif %}
{% endif %}